@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap');

*{
    font-family: poppins;
}

body{
    overflow-x: hidden;
}

// .hero::before{
//     content: '';
//     position: absolute;
//     left: 0;
//     right: 0;
//     bottom: 0;
//     top: 0vh;
//     background-color: yellow;
//     opacity: .5;
//     z-index: 1;

// }
.hero{
    background-image: url(/img/1.jpg);
    background-size: cover;
    background-position-y: -150vh;
    background-repeat: no-repeat;
    background-attachment: fixed;
}
.info{
    background-image: url(/img/paper.jpg);
    background-size: cover;
    background-position-y: -150vh;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

.box {
    width: 100%;
    height: 8px;
   
    background-color: rgba(255,255,255,1);
  }

  iframe{
      width: 100%;
      height: 100%;
    }